<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleMobile.css">
    <title>Vou Querer</title>
</head>
<body>
    <section class="start mobile-1">
        <div class="start-social">
           <ul>
                <li class="start-intagram"><img src="img/redesocial/Instagram.png" alt="Instagram"></li>
                <li class="start-facebook"><img src="img/redesocial/Facebook.png" alt="Facebook"></li>
                <li class="start-twitter"><img src="img/redesocial/Twitter.png" alt="Twitter"></li>
                <li class="start-whatsapp"><img src="img/redesocial/WhatsApp.png" alt="WhatsApp"></li>
            </ul>

            <p>@vouquerer</p>
        </div>
        <div class="start-logo"><img class="w50"src="img/logo.png" alt="Logo Vou Querer"></div>
        <div class="start-img-end"><img class="w70" src="img/start-img.png" alt="Ima"></div>
    </section>
    
    <section class="location mobile-1">
        <header> 
            <h1>Chegamos para matar a fome!</h1>
            <span><a href="#">X</a></span>
        </header>
        <div class="location-list">
            <h1>Em que cidade você está ?</h1>
        <ul class="w70">
            <li><a href="#">Ourilândia do Norte</a></li>
            <li><a href="#">Tucumã</a></li>
            <li><a href="#">Aguá Azul</a></li>
            <li><a href="#">São Feliz do Xingu</a></li>
        </ul>
    </div>
        <div class="location-logo"><img class="w50"src="img/logo.png" alt="Logo Vou Querer"></div>
        <div class="start-social">
            <ul>
                 <li class="start-intagram"><img src="img/redesocial/Instagram.png" alt="Instagram"></li>
                 <li class="start-facebook"><img src="img/redesocial/Facebook.png" alt="Facebook"></li>
                 <li class="start-twitter"><img src="img/redesocial/Twitter.png" alt="Twitter"></li>
                 <li class="start-whatsapp"><img src="img/redesocial/WhatsApp.png" alt="WhatsApp"></li>
             </ul>
 
             <p>@vouquerer</p>
         </div>
    </section>
   
<script src="js/script.js"></script>

</body>
</html>