<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleMobile.css">
    <title>Vou Querer</title>
</head>
<body>
    <section class="start mobile-1">
        <div class="start-social">
           <ul>
                <li class="start-intagram"><a href="#"><img src="img/redesocial/Instagram.png" alt="Instagram"></a></li>
                <li class="start-facebook"><a href="#"><img src="img/redesocial/Facebook.png" alt="Facebook"></a></li>
                <li class="start-twitter"><a href="#"><img src="img/redesocial/Twitter.png" alt="Twitter"></a></li>
                <li class="start-whatsapp"><a href="#"><img src="img/redesocial/WhatsApp.png" alt="WhatsApp"></a></li>
            </ul>

            <p>@vouquerer</p>
        </div>
        <div class="start-logo"><img class="w50"src="img/logo.png" alt="Logo Vou Querer"></div>
        <div class="start-img-end"><img class="w70" src="img/start-img.png" alt="Ima"></div>
    </section>
    
    <section class="location mobile-1">
        <header> 
            <h1>Chegamos para matar a fome!</h1>
            <a href="#"><span>X</span></a>
        </header>
        <div class="location-list">
            <h1>Em que cidade você está ?</h1>
        <ul class="w70">
            <a href="#"><li>Ourilândia do Norte</li></a>
            <a href="#"><li>Tucumã</li></a>
            <a href="#"><li>Aguá Azul</li></a>
            <a href="#"><li>São Feliz do Xingu</li></a>
        </ul>
    </div>
        <div class="location-logo"><img class="w50"src="img/logo.png" alt="Logo Vou Querer"></div>
        <div class="start-social">
            <ul>
                <li class="start-intagram"><a href="#"><img src="img/redesocial/Instagram.png" alt="Instagram"></a></li>
                <li class="start-facebook"><a href="#"><img src="img/redesocial/Facebook.png" alt="Facebook"></a></li>
                <li class="start-twitter"><a href="#"><img src="img/redesocial/Twitter.png" alt="Twitter"></a></li>
                <li class="start-whatsapp"><a href="#"><img src="img/redesocial/WhatsApp.png" alt="WhatsApp"></a></li>
             </ul>
 
             <p>@vouquerer</p>
         </div>
    </section>

    <section class="home mobile-1">
        <div class="moreSearche">
            <div class="home-title">
                <h3>Restaurantes</h3>
                <h2>Mais procurados</h2>
            </div>

        </div>
        <div class="snackbarProducts">
            <h2>VER TODOS OS RESTAURANTES</h2>
            <div class="category">
                <div class="categories">
                   <a href="#"> <img src="img/categories/CHURRASCO.png" alt=""></a>
                </div>
                <div class="categories">
                    <a href="#"><img src="img/categories/LANCHE.png" alt=""></a>
                </div>
                <div class="categories">
                    <a href="#"><img src="img/categories/PIZZA.png" alt=""></a>
                </div>
                <div class="categories">
                    <a href="#"><img src="img/categories/SORVETES.png" alt=""></a>
                </div>
            </div>
            <h2>VER TODAS AS CATEGORIAS</h2>
        </div>
    </section>
   
<script src="js/script.js"></script>

</body>
</html>